@font-face {
  font-family: 'AppleSDGothicNeoB';
  src: url('/asset/font/AppleSDGothicNeo/AppleSDGothicNeoB.woff');
}

@font-face {
  font-family: 'AppleSDGothicNeoM';
  src: url('/asset/font/AppleSDGothicNeo/AppleSDGothicNeoM.woff');
}

#wrapper, nav {
  font-family: 'AppleSDGothicNeoM'
}

.navbar-brand, label {
  font-family: 'AppleSDGothicNeoB';
}


footer {
  font-family: 'AppleSDGothicNeoM' !important;
}