html {
  position: relative;
	min-height: 100%;
	margin: 0;
}

body {
  background-color: #db8484;
  min-height: 100%;
}

footer {
  font-family: 'AppleSDGothicNeoM';
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

#wrapper {
  width: 100%;
  min-height: 100%;
  margin-bottom: 100px;
}

.card:hover {
  border-color: #0d6dfe;
  transition: all ease-in-out .2s;
}

.todo-item {
  border-color: rgba(0,0,0,.125);
  transition: all ease-in-out .2s;
}


.card-body {
  font-family: 'AppleSDGothicNeoM';
}

